<!DOCTYPE html>
<html lang="en">
    <title>Predict pass or fail</title>
    <style>
        body {
            background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/05/07/15/525973077d5eca5.jpg");
            background-size: 1300px 600px
            }
        div.form {
            display: block;
            text-align: center;
            }
        form {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            }
    </style>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="margin: 30px">
    <center>
        <br><br>
        <h2>Will you pass the next test?</h2>
        <form action="http://localhost:5000/result" method="POST"
        style="background-color: rgb(245, 244, 244); width:700px; padding: 20px 0px; 
        border: 3px solid black; text-align:justify; opacity: 0.9">
        <h3 style="color: black; text-align: center">Pass or Fail Prediction</h3>
    
        <br><b>What is your mother's education?</b>
        <select name="Medu">
            <option value="M0">No education</option>
            <option value="M1">Primary education</option>
            <option value="M2">Mid Secondary education</option>
            <option value="M3">Secondary education</option>
            <option value="M4">Higher education</option>
            <option selected hidden></option>
        </select>

        <br><br><b>What is your father's education?</b>
        <select name="Fedu">
            <option value="F0">No education</option>
            <option value="F1">Primary education</option>
            <option value="F2">Mid Secondary education </option>
            <option value="F3">Secondary education </option>
            <option value="F4">Higher education </option>
            <option selected hidden></option>
        </select>

        <br><br><b>Where do your mother works at?</b>
        <select name="Mjob">
            <option value="0">Educational</option>
            <option value="1">Health sectors</option>
            <option value="2">Services</option>
            <option value="3">at home</option>
            <option value="4">others</option>
            <option selected hidden></option>
        </select>

        <br><br><b>Do you want to study at higher level?</b>
        <select name="higher">
            <option value="0">No</option>
            <option value="1">Yes</option>
            <option selected hidden></option>
        </select>

        <br><br><b>How many hours did you study for a week?</b>
        <select name="studytime">
            <option value="1">less than 2 hour</option>
            <option value="2">2 to 5 hours</option>
            <option value="3">5 to 10 hours</option>
            <option value="4">more than 10 hours</option>
            <option selected hidden></option>
        </select>

        <br><br><b>Do you live in urban or rural area?</b>
        <select name="address">
            <option value="0">Rural </option>
            <option value="1">Urban </option>
            <option selected hidden></option>
        </select>

        <br><br><b>How many times have you failed in previous tests?</b>
        <input name="failures" placeholder="Number of failing in class" type="number" 
        min="0" max="20" style="width: 200px"/>

        <br><br><b>How frequent do you drink alcohol daily?</b>
        <select name="Dalc" >
            <option value="1">very rare</option>
            <option value="2">Once in a while</option>
            <option value="3">Occasionally</option>
            <option value="4">frequently</option>
            <option value="4">Daily</option>
            <option selected hidden></option>
        </select>

        <br><br><b>How many times have you been absence in the class?</b>
        <input name="absences" placeholder="Number of absence in class" type="number" 
        min="0" style="width: 230px"/>

        <br><br><b>How long do you have to travel from home to the school?</b>
        <select name="traveltime">
            <option value="1">less than 15 mins</option>
            <option value="2">15 to 30 mins</option>
            <option value="3">30 mins to 1 hour</option>
            <option value="4">More than 1 hour</option>
            <option selected hidden></option>
        </select>
        
    </center>
    <center>
        <br><br>
        <input type="submit" value="PREDICT" style="width: 300px">
    </center>
    </form>
</body>
</html>